{% extends '::layout.html.twig' %}

{% block title %}Login{% endblock %} 
{% block form %}
              <section class="indice">
                  <div class="contactar bg_form shadow">
                      <p class="titular2"></p>
                      <p class="titular2"></p>                      
                      <p class="titular2">Bienvenido</p>
                      <p class="titular2">{{ name }}</p>
                  </div>
              </section>
          </div>
        </div>
    </section>
{% endblock %}
